<tr>
	<td><%= profile.source%></td>
	<td><%= profile.name %></td>
	<td>
		<% if profile.linkedin_url %>
			<%= link_to "View LinkedIn", profile.linkedin_url, target: "_blank"%>
		<% else %>
			<p>n/a</p>
		<% end %>
	</td>
	<td>
		<% if profile.photo_url %>
			<img style="height: 100px" src=<%= profile.photo_url%>>
		<% else %>
			<p>no photo</p>
		<% end %>
	</td>

	<td>
		<% if profile.company.length == 0 %>
			<p>n/a</p>
		<% else %>
			<%= profile.company %>
		<% end %>
	</td>
	<td><%= profile.title %></td>
	<td><%= profile.tags %></td>
</tr>