<tr>
	<td class="col-md-1"><%= profile.source%></td>
	<td class="col-md-1"><%= profile.name %></td>
	<td class="col-md-1">
		<% if profile.linkedin_url %>
			<%= link_to "View LinkedIn", "https://linkedin.com/#{profile.linkedin_url}", target: "_blank"%>
		<% else %>
			<p>n/a</p>
		<% end %>
	</td>
	<td class="col-md-1">
		<% if profile.photo_url %>
			<img style="height: 100px" src=<%= profile.photo_url%>>
		<% else %>
			<p>no photo</p>
		<% end %>
	</td>

	<td class="col-md-2"><%= profile.company %></td>
	<td class="cold-md-2"><%= profile.title %></td>
	<td class="col-md-3"><%= profile.tags %></td>
</tr>